.menu-toggle{
    display:none;
    font-size:28px;
    cursor:pointer;
    color:#2c79b9;
    position:absolute;
    right:16px;
    top:18px;
}

/* メニュー */
.mobile-menu{
    display:none;
    flex-direction:column;
    background:white;
    border-top:1px solid #dfeaf5;
}

.mobile-menu a{
    padding:14px;
    text-decoration:none;
    color:#2c79b9;
    border-bottom:1px solid #f0f0f0;
    font-weight:bold;
}

/* スマホだけ表示 */
@media(max-width:768px){

    .menu-toggle{
        display:block;
    }

    .header-inner{
        justify-content:center;
    }

}
